/* # Pages
---------------------------------------------------------------------------------------------------- */

/* ## Front Page
--------------------------------------------- */

.home {
	.horizontal-newsletter-signup {
		background-color: $brand-primary;
		color: #fff;
	}
	.widget-title {
		color: inherit;
	}
}